<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="mathcheat" class="com.manasi.example.beans.MathCheat"/>
    <!-- bean definitions here -->
    <bean id="student" class="com.manasi.example.beans.Student">
        <property name="studentName" value="Maansi"/>
        <property name="id" value="2"/>
        <property name="mathCheat" ref="mathcheat"/>

    </bean>


</beans>
